---
import { getFormattedTime } from "@/utils/index";
import SiteLayout, {
  Props as SiteLayoutProps,
} from "@/layouts/SiteLayout.astro";
import { ArticleFrontMatter } from "@/types/general";
import { SITE } from "../../site-config";
import { Image, Giscus } from "@/components/index";

export async function getStaticPaths() {
  let posts = await Astro.glob<ArticleFrontMatter>(
    "../../../_data/thoughts/*.md"
  );

  posts = posts.sort((a, b) => {
    if (
      new Date(a.frontmatter.publishedAt) > new Date(b.frontmatter.publishedAt)
    ) {
      return -1;
    } else {
      return 1;
    }
  });

  return posts.map((e) => {
    return {
      params: {
        slug: e.frontmatter.slug,
      },
      props: {
        post: e,
      },
    };
  });
}

const { slug } = Astro.params;
const { post } = Astro.props;
const publishedTime = getFormattedTime(post.frontmatter.publishedAt);

const siteMeta: SiteLayoutProps["meta"] = {
  title: post.frontmatter.title,
  locale: "zh-TW",
  description: post.frontmatter.description,
  image: {
    src: post.frontmatter.featureImg,
    alt: post.frontmatter.featureImgAlt,
  },
  publishedAt: post.frontmatter.publishedAt,
  tags: post.frontmatter.tags,
};
---

<SiteLayout
  fullWidth={true}
  meta={siteMeta}
  canonicalURL={`${SITE.domain}/thoughts/${slug}`}
  text={post.rawContent()}
>
  <Image
    width=""
    height="h-[400px] md:h-[600px]"
    src={post.frontmatter.featureImg}
    alt={post.frontmatter.featureImgAlt}
    source={post.frontmatter.featureImgSource}
    marginBottom="mb-20"
    position="mx-auto"
  />
  <article class="mx-auto w-full prose lg:prose-lg dark:prose-dark mb-20">
    <h1>{post.frontmatter.title}</h1>
    <p>{publishedTime}</p>
    <div class="w-full border border-sd-brgreen mb-20"></div>
    <post.Content></post.Content>
  </article>
  <Giscus client:load />
</SiteLayout>
