---
import { getRandomInt } from "../utils";
import { SummerbudLogo } from "../components";
import { getCollection } from "astro:content";

const time = new Date().toLocaleTimeString(undefined, {
	hour12: false,
	hour: "numeric",
	minute: "numeric",
	day: "numeric",
	month: "numeric",
	year: "numeric",
});

const surfaceScale = getRandomInt(1, 100);

const devNotePosts = await getCollection("dev-notes");
const thoughtPosts = await getCollection("thoughts");
const posts = [...devNotePosts, ...thoughtPosts];

const esPosts = posts.filter((e) => e.data.locale === "en-US");
const zhPosts = posts.filter((e) => e.data.locale === "zh-TW");
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Summerbud's writing</title>
	</head>

	<body>
		<div class="flex min-h-screen p-0 bg-black">
			<div class="m-auto flex flex-col gap-y-4">
				<svg
					class="w-[300px] h-[158px] lg:w-[800px] lg:h-[420px] m-0"
					xmlns="http://www.w3.org/2000/svg"
					version="1.1"
					viewBox="0 0 1200 630"
				>
					<defs>
						<filter
							id="nnnoise-filter"
							x="-20%"
							y="-20%"
							width="140%"
							height="140%"
							filterUnits="objectBoundingBox"
							primitiveUnits="userSpaceOnUse"
							color-interpolation-filters="linearRGB"
						>
							<feTurbulence
								type="fractalNoise"
								baseFrequency="0.05"
								numOctaves="4"
								seed="15"
								stitchTiles="stitch"
								x="0%"
								y="0%"
								width="100%"
								height="100%"
								result="turbulence"
							>
							</feTurbulence>
							<feSpecularLighting
								surfaceScale={surfaceScale}
								specularConstant="2.5"
								specularExponent="20"
								lighting-color="#7957A8"
								x="0%"
								y="0%"
								width="100%"
								height="100%"
								in="turbulence"
								result="specularLighting"
							>
								<feDistantLight azimuth="25" elevation="1">
									<animate
										attributeName="azimuth"
										values="25;180;25"
										dur="10s"
										repeatCount="indefinite"
									>
									</animate>
									<animate
										attributeName="elevation"
										values="1;200;1"
										dur="10s"
										repeatCount="indefinite"
									>
									</animate>
								</feDistantLight>
							</feSpecularLighting>
						</filter>
					</defs>
					<rect width="1200" height="630" fill="#002b36"></rect>
					<rect
						class="noise-hero"
						width="1200"
						height="630"
						fill="#7957a8"
						filter="url(#nnnoise-filter)"
					>
					</rect>
				</svg>
				<div class="justify-end flex flex-row gap-x-4">
					<a
						rel="prefetch"
						href="/su-kao"
						class="font-sans text-sm font-normal text-gray-300 cursor-pointer underline"
					>
						思考
					</a>
					<a
						rel="prefetch"
						href="/thoughts"
						class="font-sans text-sm font-normal text-gray-300 cursor-pointer underline"
					>
						thoughts
					</a>
					<a
						rel="prefetch"
						href="/threads"
						class="font-sans text-sm font-normal text-gray-300 cursor-pointer underline"
					>
						threads
					</a>
					<a
						rel="prefetch"
						href="/dev-notes"
						class="font-sans text-sm font-normal text-gray-300 cursor-pointer underline"
					>
						dev-notes
					</a>
				</div>
			</div>
			<div class="absolute flex bottom-10 left-10 h-10">
				<p class="my-auto font-sans text-sm font-normal text-gray-300">&copy; 2023 summerbud</p>
			</div>
			<div class="absolute flex h-10 top-10 right-10">
				<p class="my-auto font-sans text-sm font-normal text-gray-300 text-right">
					{`${zhPosts.length}/${esPosts.length} = zh/es`}
				</p>
			</div>
			<div class="absolute flex h-10 bottom-10 right-10">
				<p class="my-auto first-letter:font-sans text-sm font-normal text-gray-300 text-right">
					{time}
				</p>
			</div>
			<div class="absolute top-10 left-10">
				<SummerbudLogo />
			</div>
		</div>
	</body>
</html>
