---
import HeadSeo from "./HeadSeo.astro";
import { Props as HeadSeoProps } from "./HeadSeo.astro";
import { FeatureImage, Footer, NavBar } from "@/components/index";
import cn from "clsx";
import { FeatureImg, Heading, Nullable } from "@/types/general";

export interface Props extends HeadSeoProps {
  fullWidth: boolean;
  headings: Nullable<Heading[]>;
  featureImg: Nullable<FeatureImg>;
}

const props = Astro.props as Props;
---

<html class="dark">
  <head>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta charset="utf-8" />
    <link href="/prism-atom-dark.css" rel="stylesheet" />
    <HeadSeo
      meta={props.meta}
      canonicalURL={props.canonicalURL}
      text={props.text}
    />
    <script is:inline>
      // credit: https://github.com/withastro/docs/blob/main/src/layouts/MainLayout.astro
      const html = document.querySelector("html");
      const theme = (() => {
        if (
          typeof localStorage !== "undefined" &&
          localStorage.getItem("theme")
        ) {
          return localStorage.getItem("theme");
        }
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          return "dark";
        }
        return "light";
      })();

      // The ThemeToggle icon will reset to initial state once we change page, we need to change
      // it back to correct one before page first paint

      if (theme === "light") {
        html.classList.remove("dark");
      } else {
        html.classList.add("dark");
      }
    </script>
  </head>
  <body>
    <div
      class={cn(
        "flex flex-col min-h-screen w-screen px-6 sm:px-8 lg:px-0 bg-sd-brwhite dark:bg-sd-brblack"
      )}
    >
      <div class={cn("flex flex-col w-full flex-1")}>
        <NavBar marginBottom="mb-20" client:load />
        {props.featureImg ? 
          <FeatureImage
            width=""
            height="h-[400px] md:h-[600px]"
            src={props.featureImg.path}
            alt={props.featureImg.alt}
            source={props.featureImg.source}
            marginBottom="mb-20"
            position="mx-auto"
          />: 
          null}
        <div class="flex flex-col xl:flex-row flex-1 mb-20">
          <div class="hidden xl:flex xl:w-2/12"></div>
          <div class="w-full flex flex-col xl:w-8/12"><slot /></div>
          <div class="hidden xl:flex xl:w-2/12"></div>
        </div>
        <Footer />
      </div>
    </div>
  </body>
</html>
